<footer class="site-footer border-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="row mb-5">
                    <div class="col-md-12">
                        <h3 class="footer-heading mb-4">Navigation</h3>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <ul class="list-unstyled">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Team</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <ul class="list-unstyled">
                            <li><a >About Us</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Membership</a></li>
                        </ul>
                    </div>
                </div>


            </div>
            <div class="col-lg-4">


                <div class="mb-5">
                    <h3 class="footer-heading mb-4">Recent News</h3>
                    <div class="block-25">
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <a href="#" class="d-flex">
                                    <figure class="image mr-4">
                                        <img src="assets/images/hero_bg_1.jpg" alt="" class="img-fluid">
                                    </figure>
                                    <div class="text">
                                        <span class="small text-uppercase date">Sep 16, 2018</span>
                                        <h3 class="heading font-weight-light">Lorem ipsum dolor sit amet consectetur
                                            elit</h3>
                                    </div>
                                </a>
                            </li>
                            <li class="mb-3">
                                <a href="#" class="d-flex">
                                    <figure class="image mr-4">
                                        <img src="assets/images/hero_bg_1.jpg" alt="" class="img-fluid">
                                    </figure>
                                    <div class="text">
                                        <span class="small text-uppercase date">Sep 16, 2018</span>
                                        <h3 class="heading font-weight-light">Lorem ipsum dolor sit amet consectetur
                                            elit</h3>
                                    </div>
                                </a>
                            </li>
                            <li class="mb-3">
                                <a href="#" class="d-flex">
                                    <figure class="image mr-4">
                                        <img src="assets/images/hero_bg_1.jpg" alt="" class="img-fluid">
                                    </figure>
                                    <div class="text">
                                        <span class="small text-uppercase date">Sep 16, 2018</span>
                                        <h3 class="heading font-weight-light">Lorem ipsum dolor sit amet consectetur
                                            elit</h3>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>


            <div class="col-lg-4 mb-5 mb-lg-0">

                <div class="mb-5">
                    <h3 class="footer-heading mb-2">Subscribe Newsletter</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit minima minus odio.</p>

                    <form action="#" method="post">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control border-white text-white bg-transparent"
                                placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" id="button-addon2">Send</button>
                            </div>
                        </div>
                    </form>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="footer-heading mb-4">Follow Us</h3>

                        <div>
                            <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                        </div>
                    </div>
                </div>


            </div>

        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
                    made with
                    <i class="icon-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                        target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>

        </div>
    </div>
</footer>