<div class="site-mobile-menu">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>
<div class="site-navbar-wrap">
  <div class="site-navbar-top">
    <div class="container py-3">
      <div class="row align-items-center">
        <div class="col-6">
          <a href="https://mobile.twitter.com/vilnoc_rol" class="p-2 pl-0">
            <span class="icon-twitter"></span>
          </a>
          <a href="https://www.facebook.com/VilNoc-457407238334020/" class="p-2 pl-0">
            <span class="icon-facebook"></span>
          </a>
          <a href="https://www.instagram.com/asociacionvilnoc/" class="p-2 pl-0">
            <span class="icon-instagram"></span>
          </a>
        </div>
        <div class="col-6">
          <div class="d-flex ml-auto">
            <a href="#" class="d-flex align-items-center ml-auto mr-4">
              <span><i class="fa fa-envelope" style="margin-right: 0.2em;"></i></span>
              <span class="d-none d-md-inline-block">narracion@vilnoc.com</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="site-navbar">
    <div class="container py-1">
      <div class="row align-items-center">
        <div class="col-2">
          <img src="assets/images/VilNoc-lb.png" style="width: 55%;" alt="">
        </div>
        <div class="col-10">
          <nav class="site-navigation text-right" role="navigation">
            <div class="container">
              <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#"
                  class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
              <ul style="cursor: pointer;" class="site-menu js-clone-nav d-none d-lg-block">
                <li *ngFor="let item of menuContent"
                  [ngClass]="{'active': activeItem == item.value, 'has-children': item.hasChildren.length > 0}"
                  (click)="goToItem(item.value)">
                  <a>{{item.title}}</a>
                  <ul *ngIf="item?.hasChildren.length > 0" class="dropdown arrow-top">
                    <li *ngFor="let subitem of item.hasChildren"><a href="#">{{subitem.title}}</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>