<div class="site-wrap">
  <div class="site-blocks-cover overlay" style="background: url(assets/images/hero_bg_1.jpg);
           background-attachment: fixed;
           background-position: center;
           background-repeat: no-repeat;
           background-size: cover;" data-aos="fade">
    <div class="container">
      <div class="row align-items-center text-center justify-content-center">
        <div class="col-md-8">
          <span class="sub-text">{{mainTitle.subTitle}}</span>
          <h1>{{mainTitle.title}}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="site-block-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-4" *ngFor="let item of mainActivity; let i = index">
          <a href="#" class="site-block-feature d-flex p-4 rounded mb-4">
            <div class="mr-3">
              <div class="font-weight-light h2" style="height: 90%; align-items: center; display: flex;">
                <span class="{{item.icon}}" style="color: white; font-size: 1.3em;" aria-hidden="true"></span>
              </div>
              <!--
              <i class="fab fa-rebel" aria-hidden="true"></i>
              <i class="fab fa-empire" aria-hidden="true"></i>
              -->
            </div>
            <div class="text">
              <h3> {{item.title}} </h3>
              <p> {{ item.description }}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div style="display: flex; justify-content: center; align-items: center;" class="col-lg-6 mb-5 mb-lg-0">
          <div>
            <img *ngIf="isCollapsed === 0" src="assets/images/nosolorol.jpg" alt="Image" class="img-fluid">
            <img *ngIf="isCollapsed === 1" src="assets/images/nosolorol.jpg" alt="Image" class="img-fluid">
            <img *ngIf="isCollapsed === 2" src="assets/images/cronicas_nocturnas.jpg" alt="Image" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-5 ml-auto">
          <span class="sub-title"></span>
          <h2 class="font-weight-bold text-black mb-5">Colaboradores</h2>
          <div class="accordion">
            <div *ngFor="let item of coworkers; let i = index">
              <h2 class="mb-0 border rounded mb-2" style="cursor: pointer;" (click)="toggleCollapse(i)">
                <button class="btn " [ngClass]="{'collapsed': isCollapsed !== i}" type="button">
                  {{item.title}}
                </button>
              </h2>
              <div id="collapseOne" [ngClass]="{'show': isCollapsed === i}" class="collapse">
                <div class="card-body">
                  <p>
                    {{ item.description}}<a href="{{item.page}}">{{item.title}} </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--
  <owl-carousel [items]="images" [carouselClasses]="['owl-theme', 'sliding']">
    <div class="nonloop-block-13 owl-carousel item" *ngFor="let img of Images" class="testimony">
      <img src={{img}} alt="Image" class="img-fluid">
      <h3>Cloe Marena</h3>
      <span class="sub-title">Owner of Building Co.</span>
      <p>&ldquo;<em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non eligendi totam natus ullam
          cumque! Assumenda optio, ad in! Nesciunt natus veritatis hic iste quas. Sunt iste autem vel
          repudiandae.</em>&rdquo;</p>
    </div>
  </owl-carousel>
-->
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <span class="sub-title">Noticias &amp; Relatos</span>
          <h2 class="font-weight-bold text-black mb-5">Las Últimas Entradas</h2>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 post-entry" *ngFor="let item of news; let i = index">
          <a href="#" class="d-block figure">
            <img src="{{item.image}}" alt="Image" class="img-fluid">
          </a>
          <span class="text-muted d-block mb-2">{{item.title}}</span>
          <h3><a href="#">{{ item.description}}</a></h3>
        </div>
      </div>
      <div class="row mt-5 text-center">
        <div class="col-12">
          <p><a href="#" class="btn btn-primary btn-lg rounded-0">Ver Todas Las Entradas</a></p>
        </div>
      </div>
    </div>
  </div>
</div>