<div class="site-wrap">
  <div class="site-blocks-cover overlay inner-page" style="background-image: url(assets/images/hero_bg_2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-10">
          <span class="sub-text">Conócenos</span>
          <h1>¿Quiénes somos?</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="site-section about-section" style="padding-top: 2.5em; padding-bottom: 0;">
    <div class="container">
      <div class="row align-items-center mb-5 pb-5">
        <div class="col-lg-7 img-years mb-5 mb-lg-0" style="display: flex; justify-content: center;">
          <span class="experience">
            <span class="years"></span>
            <span class="caption"></span>
          </span>
          <img src="assets/images/logovilnocnegro.jpg" style="height: 30em; width: 30em;" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-4 ml-auto">
          <h3 class="mb-4">Asociación Vilnoc</h3>
          <p class="mb-5">
            La Asociación Vilnoc nació en verano, un fin de semana del 2018 donde un grupo de amigos tuvo una pequeña
            visión en la que aparecía un proyecto increíble.
            Un sueño donde, mediante partidas de rol en vivo, crearíamos una historia, juntaríamos a un grupo de gente y
            juntos viviríamos experiencias,
            aprenderíamos juntos y crearíamos una comunidad única donde las haya. Aquellos soñadores vislumbraron juntos
            un proyecto y
            aunque desde la idea inicial han cambiado muchísimas cosas, ese sueño sigue intacto.
            <!-- 
           <p><a href="#" class="btn btn-primary btn-lg rounded-0">Juega con nosotros.</a>
         -->
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section" style="padding-top:0; padding-bottom: 5em;">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <span class="sub-title">Conócenos</span>
          <h2 class="font-weight-bold text-black mb-5">Nuestro Equipo</h2>
        </div>
      </div>
      <div class="row">

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="person">
            <div class="bio-img">
              <figure>
                <img src="assets/images/person_1.jpg" alt="Image" class="img-fluid">
              </figure>
              <div class="social">
                <a href="https://twitter.com/Helrik_Laufer" style="color: #FFF;"><span class="icon-twitter"></span></a>
                <a href="https://www.instagram.com/helrik_laufer" style="color: #FFF;"><span class="icon-instagram"></span></a>
              </div>
            </div>
            <h2>Eugenio Martín Lanzarote</h2>
            <span class="sub-title">El Primer Orador</span>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="person">
            <div class="bio-img">
              <figure>
                <img src="assets/images/person_2.jpg" alt="Image" class="img-fluid">
              </figure>
              <div class="social">
                <a href="https://www.instagram.com/isherelartnec/" style="color: #FFF;"><span class="icon-instagram"></span></a>
              </div>
            </div>
            <h2>Luna Martín Lanzarote</h2>
            <span class="sub-title">Ilustrísima, ilustrada e ilustradora.</span>
            <span class="sub-title">La Guardiana de los Secretos.</span>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="person">
            <div class="bio-img">
              <figure>
                <img src="assets/images/person_3.jpg" alt="Image" class="img-fluid">
              </figure>
              <div class="social">
                <a href="https://www.facebook.com/torzai" style="color: #FFF;"><span class="icon-facebook"></span></a>
                <a href="https://www.instagram.com/irvynirons/" style="color: #FFF;"><span class="icon-instagram"></span></a>
              </div>
            </div>
            <h2>Zai Revert</h2>
            <span class="sub-title">Custodio de la Puerta</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>