<div class="site-blocks-cover overlay inner-page" style="background-image: url(assets/images/projects.jpg);
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;" data-aos="fade"
  data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-10">
        <span class="sub-text">Viaja con nosotros</span>
        <h1>Proyectos</h1>
      </div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 project-entry">
        <a href="#" class="d-block figure">
          <img src="assets/images/rolsinrol.jpeg" alt="Image" class="img-fluid">
        </a>
        <h3 class="mb-0"><a href="#">Jornadas Rol Sin Rol</a></h3>
        <span class="text-muted">Interior</span>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 project-entry">
        <a href="#" class="d-block figure">
          <img src="assets/images/vnIII.jpg" alt="Image" class="img-fluid">
        </a>
        <h3 class="mb-0"><a href="#">Villalba Nocturna: Deleite Mortal</a></h3>
        <span class="text-muted">Design</span>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 project-entry">
        <a href="#" class="d-block figure">
          <img src="assets/images/LPC Tres regalos.jpg" alt="Image" class="img-fluid">
        </a>
        <h3 class="mb-0"><a href="#">Madrid Feérico: Tres Regalos</a></h3>
        <span class="text-muted">Interior</span>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 project-entry">
        <a href="#" class="d-block figure">
          <img src="assets/images/titanic.jpg" alt="Image" class="img-fluid">
        </a>
        <h3 class="mb-0"><a href="#">Titánic</a></h3>
        <span class="text-muted">Interior</span>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 project-entry">
        <a href="#" class="d-block figure">
          <img src="assets/images/vagonnum13.jpg" alt="Image" class="img-fluid">
        </a>
        <h3 class="mb-0"><a href="#">Vagón Número 13</a></h3>
        <span class="text-muted">Design</span>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 project-entry">
        <a href="#" class="d-block figure">
          <img src="assets/images/vnII.jpg" alt="Image" class="img-fluid">
        </a>
        <h3 class="mb-0"><a href="#">Villalba Nocturna: Dulce Desvelo</a></h3>
        <span class="text-muted">Interior</span>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 project-entry">
        <a href="#" class="d-block figure">
          <img src="assets/images/vnI.jpg" alt="Image" class="img-fluid">
        </a>
        <h3 class="mb-0"><a href="#">Villalba Nocturna: Nicho Hostil</a></h3>
        <span class="text-muted">Interior</span>
      </div>
    </div>
  </div>
</div>